* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    box-shadow: #ddd 5px 8px 20px;
    justify-content: space-around;
    overflow: hidden;
}
.container > div {
    cursor: pointer;
    padding: 20px 50px;
    position: relative;
    transition: transform .4s;
}
.container > div > span {
    position: absolute;
    color: #ff5361;
    width: 100%;
    height: 100%;
    padding: 20px 50px;
    top: 100%;
    left: 0;
    border-bottom: 4px rgb(250, 81, 2) solid;
}
.container > div:hover {
    transform: translateY(-100%);
}          